argo-cd:
  configs:
    params:
      server.insecure: true

  global:
    domain: argo.lan

  server:
    httproute:
      enabled: true
      hostnames:
        - argo.lan
      parentRefs:
        - name: traefik-gateway
          namespace: traefik