apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  finalizers:
  - resources-finalizer.argocd.argoproj.io/background
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 38.0.2
    helm:
      valuesObject:
        deployment:
          replicas: 1

        ingressClass:
          enabled: true
          isDefaultClass: true
          name: "traefik"

        service:
          spec:
            loadBalancerIP: "192.168.1.160"

        ports:
          web:
            port: 80
            nodePort: 30000
            redirections:
              entryPoint:
                to: websecure
                scheme: https
                permanent: true

          websecure:
            port: 443
            nodePort: 30001

        api:
          dashboard: true
          insecure: true

        ingressRoute:
          dashboard:
            enabled: true
            matchRule: Host(`proxy.lan`)
            entryPoints:
              - websecure

        providers:
          kubernetesIngress:
            enabled: true
            allowExternalNameServices: true
          kubernetesGateway:
            enabled: true
          kubernetesCRD:
            allowExternalNameServices: true

        gateway:
          listeners:
            web:           # HTTP listener that matches entryPoint `web`
              port: 80
              protocol: HTTP
              namespacePolicy:
                from: All

            websecure:         # HTTPS listener that matches entryPoint `websecure`
              port: 443
              protocol: HTTPS  # TLS terminates inside Traefik
              namespacePolicy:
                from: All
              mode: Terminate
              certificateRefs:    
                - kind: Secret
                  name: local-selfsigned-tls  # the Secret we created before the installation
                  group: ""

        logs:
          general:
            level: INFO
          access:
            enabled: true

        metrics:
          prometheus:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
---
apiVersion: v1
kind: Service
metadata:
  name: technitium-primary
  namespace: traefik
spec:
  type: ExternalName
  externalName: dns1.lan
---
apiVersion: v1
kind: Service
metadata:
  name: technitium-secondary
  namespace: traefik
spec:
  type: ExternalName
  externalName: mini.lan
# ---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: technitium
#   namespace: traefik
# spec:
#   rules:
#   - host: dns.lan
#     http:
#       paths:
#       - path: /
#         pathType: Prefix
#         backend:
#           service:
#             name: technitium
#             port:
#               number: 5380
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: technitium
  namespace: traefik
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`dns.lan`)
      kind: Rule
      services:
        - name: technitium-primary
          port: 5380
          weight: 20
        - name: technitium-secondary
          port: 5380
          weight: 10