apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  finalizers:
  - resources-finalizer.argocd.argoproj.io/background
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 38.0.2
    helm:
      valuesObject:
        deployment:
          replicas: 1

        ingressClass:
          enabled: true
          isDefaultClass: true
          name: "traefik"

        service:
          spec:
            loadBalancerIP: "192.168.1.160"

        ports:
          web:
            port: 80
            nodePort: 30000
            redirections:
              entryPoint:
                to: websecure
                scheme: https
                permanent: true

          websecure:
            port: 443
            nodePort: 30001

        api:
          dashboard: true
          insecure: true

        ingressRoute:
          dashboard:
            enabled: true
            matchRule: Host(`proxy.lan`)
            entryPoints:
              - websecure

        providers:
          kubernetesIngress:
            enabled: true
          kubernetesGateway:
            enabled: true

        gateway:
          listeners:
            web:           # HTTP listener that matches entryPoint `web`
              port: 80
              protocol: HTTP
              namespacePolicy:
                from: All

            websecure:         # HTTPS listener that matches entryPoint `websecure`
              port: 443
              protocol: HTTPS  # TLS terminates inside Traefik
              namespacePolicy:
                from: All
              mode: Terminate
              certificateRefs:    
                - kind: Secret
                  name: local-selfsigned-tls  # the Secret we created before the installation
                  group: ""

        logs:
          general:
            level: INFO
          access:
            enabled: true

        metrics:
          prometheus:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
---
apiVersion: v1
kind: Service
metadata:
  name: technitium
  namespace: traefik
spec:
  ports:
  - name: http
    protocol: TCP
    port: 5380
---
apiVersion: v1
kind: Service
metadata:
  name: dns
  namespace: traefik
spec:
  type: ExternalName
  externalName: dns.lan
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: dns
  namespace: traefik
spec:
  rules:
  - host: dns.lan
    http:
      paths:
      - backend:
          serviceName: dns
          servicePort: 5380
        path: /
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: technitium
  namespace: traefik
  labels:
    kubernetes.io/service-name: technitium
addressType: IPv4
endpoints:
  - addresses:
    - 192.168.1.5
    conditions:
      ready: true
ports:
  - name: http
    protocol: TCP
    port: 5380
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: technitium
  namespace: traefik
spec:
  parentRefs:
  - name: traefik-gateway
    namespace: traefik
  hostnames:
  - dns.lan
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: technitium
      port: 5380